.cabecalho{
       background-color: aqua;
       color: aquamarine;
       display: flex;
       padding: 24px 0;
}

.section1{
    background-color: black;
    padding: 24px;
}

.section2{
    background-color: blueviolet;
    padding: 24px;
}